@import url(variable.css);
*{
 margin: 0;
 padding: 0;   
}

body {
    background: var(--color-3);
}

/*  Pagina Numero 1 */


.header { 
    height: 5vh;
    width: 100%;
    margin-left: 8vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}

.header .header__icon { 
    display: flex;
    flex-direction: column;
    color: var(--color-1);
    align-items: flex-start;
}

.header .header__redirections ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: nowrap;
    align-self: right;
}

.header .header__redirections a {
    text-decoration: none;
    color: var(--color-2);
    align-items: flex-end;
}

.header .header__redirections li:first-child {
    border: 1px solid var(--color-6);
    height: 2vh;
    width: 5vh;
    display: flex;
    text-align: center;
    align-items: center;
}

.header .header__redirections li {
    list-style: none;
}

.main {
    display: flex;
    margin-bottom: 20vh;
}

.main .main__left__side, .main__right__side {
    flex-direction: column;
    flex: 1;
}
.main .main__left__side {
    margin-top: 20vh;
}
.main .main__left__side__tittle h1 {
    color: var(--color-1);
    font-size: 5rem;
    text-align: center;
}

.main .main__left__side__text p {
    color: var(--color-2);
    font-size: 1.5rem;
    align-self: center;
    text-align: justify;
    align-content: center;
    align-self: center;
    margin-left: 26vh;
}

.main .main__left__side__button {
    background: var(--color-1);
    height: 3vh;
    width: 10vh;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-top: 3vh;
    margin-left: 26vh;
}

.main .main__left__side__button a {
    text-decoration: none;
    color: var(--color-2);
}

.main__right__side__image img {
    height: 50vh;
    width: 50%;
}

hr {
    border: 1px solid var(--color-7);
    margin-bottom: 15vh;
}










/* Pagina Numero dos */


.big__container {
    display: flex;
    justify-content: space-around;
    margin-left: 26vh;
    margin-bottom: 15vh;
}

.big__container .big__container__images, .big__container__text {
    flex-direction: column;
    flex: 1;
}


.big__container .big__container__text h2 {
    color: var(--color-1);
}

.big__container .big__container__text p, h1, a {
    color: var(--color-2);
}

.big__container__text {
    margin-top: 0;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: -50vh;
}

.big__container__text h1 {
    margin-top: 1vh;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}

.big__container__text p {
    margin-top: 1vh;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.text {
    width: 45vh;
}

.big__container__text__button {
    width: 10vh;
    background: var(--color-1);
    height: 3vh;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-top: 1vh;
}

.big__container__text__button a{
    background: var(--color-1);
    text-decoration: none;
    width: 10vh;
    height: 3vh;
}

.big__container__images {
    margin-left: 15vh;
}

.big__container__images img {
    height: 35vh;
    width: auto;
}


/* Pagina Numero 3 */


.container__page__number_3 {
    display: flex;
    flex-direction: column;
}

.page__number_3__tittle h2{
    align-items: center;
    text-align: center;
    align-self: center;
    color: var(--color-1);
    font-size: 2rem;
}

.page__number_3__Big__Tittle h1 {
    text-align: center;
    align-items: center;
    align-items: center;
    color: var(--color-2);
    font-size: 5rem;
}

.divdivdivdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 15vh 15vh 15vh 15vh;
    gap: 5vh;
}

.divdivdivdiv h3, span {
    margin-bottom: .2vh;
}
.divdivdivdiv p {
    color: var(--color-1);
    margin-top: .2vh;
}

.food__container__big {
    display: flex;
    flex-direction: column;
    flex: 3;
    background: var(--color-4);
    border: 1px solid var(--color-3);
    height: auto;
    width: 30vh;
}

.imagen {
    display: flex;
    border: 1px solid var(--color-4);
    justify-content: center;
}

.imagen img {
    height: 25vh;
    width: 25vh;
}

